In [1]:
#Imports
%matplotlib inline
import pandas
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import numpy as np

In [4]:
data = pandas.read_csv('./data/Train.csv', sep=',', na_values=".")
print(data[0:10])

   Gender  Height (cm)  Weight (kg) Blood Pressure (s/d)  \
0    Male   171.148359    86.185197              151/109
1    Male   172.946206    79.641937              134/112
2  Female   155.945488    49.167058              160/101
3  Female   169.078298    56.017921               133/94
4  Female   163.758355    73.966304              170/106
5    Male   174.891617    79.671483               134/75
6    Male   178.586966    86.521864              178/109
7  Female   168.002914    66.524209               144/79
8  Female   164.546917    74.405356              152/119
9  Female   164.839426    64.271711              153/109

   Cholesterol Level (mg/dL)        BMI  Blood Glucose Level (mg/dL)  \
0                 259.465814  29.423017                   157.652848
1                 263.630292  26.626847                   118.507805
2                 207.846206  20.217553                   143.587550
3                 253.283779  19.595270                   137.448581
4                 236.119899  27.582078                   145.328695
5                 198.718529  26.047432                   100.928108
6                 246.339736  27.128536                   129.977078
7                 222.462440  23.569268                   116.806072
8                 204.235608  27.480504                   137.022297
9                 268.598653  23.653623                   130.056457

   Bone Density (g/cm²)  Vision Sharpness  Hearing Ability (dB)  ...  \
0              0.132868          0.200000             58.786198  ...
1              0.629534          0.267312             54.635270  ...
2              0.473487          0.248667             54.564632  ...
3              1.184315          0.513818             79.722963  ...
4              0.434562          0.306864             52.479469  ...
5              1.435352          0.666739             27.908177  ...
6              0.577363          0.200000             63.363360  ...
7              1.618100          0.717328             39.530483  ...
8              1.047384          0.505928             54.105122  ...
9              0.321093          0.200000             65.601092  ...

  Cognitive Function Mental Health Status Sleep Patterns Stress Levels  \
0          44.059172                 Good       Insomnia      2.797064
1          45.312298                 Good         Normal      9.339930
2          56.246991                 Poor       Insomnia      9.234637
3          55.196092                 Poor       Insomnia      4.693446
4          53.023379                 Good         Normal      4.038537
5          71.339373                 Fair       Insomnia      3.138738
6          48.053091                 Good       Insomnia      8.355000
7          83.226875                 Good      Excessive      2.583327
8          64.702746                 Fair       Insomnia      1.392434
9          57.824789                 Poor      Excessive      7.273142

  Pollution Exposure Sun Exposure Education Level  Income Level Age (years)  \
0           5.142344     7.108975             NaN        Medium          89
1           7.272720     3.918489   Undergraduate        Medium          77
2           8.500386     5.393408             NaN        Medium          70
3           7.555511     2.745578             NaN           Low          52
4           9.429097     3.878435   Undergraduate          High          79
5           7.282163     4.413398   Undergraduate        Medium          29
6           5.552008     6.355807     High School           Low          76
7           0.180754     5.926725             NaN        Medium          26
8           9.945505     5.639334     High School          High          50
9           7.024841     4.313894     High School          High          77

  Age_group
0         2
1         2
2         2
3         1
4         2
5         0
6         2
7         0
8         1
9         2

[10 rows x 27 columns]

In [5]:
data.describe(include='all')

,Gender,Height (cm),Weight (kg),Blood Pressure (s/d),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),...,Cognitive Function,Mental Health Status,Sleep Patterns,Stress Levels,Pollution Exposure,Sun Exposure,Education Level,Income Level,Age (years),Age_group
count,3000,3000.000000,3000.000000,3000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000,3000,3000.000000,3000.000000,3000.000000,2373,3000,3000.000000,3000.000000
unique,2,NaN,NaN,1606,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4,3,NaN,NaN,NaN,3,3,NaN,NaN
top,Female,NaN,NaN,135/93,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Good,Normal,NaN,NaN,NaN,Undergraduate,Medium,NaN,NaN
freq,1511,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1073,1519,NaN,NaN,NaN,884,1223,NaN,NaN
mean,NaN,168.590835,72.537260,NaN,234.029794,25.550146,126.653909,0.931899,0.474591,47.016214,...,63.868376,NaN,NaN,5.476507,5.028982,5.955785,NaN,NaN,53.485667,1.219333
std,NaN,9.293006,13.190734,NaN,24.521436,4.367322,18.226124,0.443550,0.209726,14.336464,...,11.755738,NaN,NaN,2.584901,2.871408,3.474595,NaN,NaN,20.569690,0.720694
min,NaN,141.130985,32.537672,NaN,148.811514,12.049900,69.866884,-0.219787,0.200000,0.000000,...,30.382098,NaN,NaN,1.000428,0.006395,0.002055,NaN,NaN,18.000000,0.000000
25%,NaN,161.629515,63.222773,NaN,216.756601,22.454115,114.392605,0.561063,0.281671,36.734775,...,55.647794,NaN,NaN,3.221745,2.607185,2.873285,NaN,NaN,36.000000,1.000000
50%,NaN,168.215632,71.448651,NaN,234.376822,25.352113,126.802186,0.939585,0.462070,46.963733,...,64.014652,NaN,NaN,5.496618,5.095686,5.956789,NaN,NaN,53.000000,1.000000
75%,NaN,175.522665,81.702801,NaN,250.646674,28.403543,139.377079,1.294570,0.639498,56.828847,...,72.087453,NaN,NaN,7.680320,7.476338,8.991349,NaN,NaN,72.000000,2.000000
max,NaN,198.112215,123.598603,NaN,331.300589,43.329869,185.736144,1.999829,1.062537,94.003824,...,106.479831,NaN,NaN,9.996323,9.998090,11.992504,NaN,NaN,89.000000,2.000000

In [6]:
#Comprovar quins camps tenen valors nulls
data.isnull().any()

Gender                         False
Height (cm)                    False
Weight (kg)                    False
Blood Pressure (s/d)           False
Cholesterol Level (mg/dL)      False
BMI                            False
Blood Glucose Level (mg/dL)    False
Bone Density (g/cm²)           False
Vision Sharpness               False
Hearing Ability (dB)           False
Physical Activity Level        False
Smoking Status                 False
Alcohol Consumption             True
Diet                           False
Chronic Diseases                True
Medication Use                  True
Family History                  True
Cognitive Function             False
Mental Health Status           False
Sleep Patterns                 False
Stress Levels                  False
Pollution Exposure             False
Sun Exposure                   False
Education Level                 True
Income Level                   False
Age (years)                    False
Age_group                      False
dtype: bool

In [14]:
values = {"Alcohol Consumption": 'Never'}
data.fillna(value=values)
data.isnull().any()

Gender                         False
Height (cm)                    False
Weight (kg)                    False
Blood Pressure (s/d)           False
Cholesterol Level (mg/dL)      False
BMI                            False
Blood Glucose Level (mg/dL)    False
Bone Density (g/cm²)           False
Vision Sharpness               False
Hearing Ability (dB)           False
Physical Activity Level        False
Smoking Status                 False
Alcohol Consumption             True
Diet                           False
Chronic Diseases                True
Medication Use                  True
Family History                  True
Cognitive Function             False
Mental Health Status           False
Sleep Patterns                 False
Stress Levels                  False
Pollution Exposure             False
Sun Exposure                   False
Education Level                 True
Income Level                   False
Age (years)                    False
Age_group                      False
dtype: bool